@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*======GLOBAL STYLES========*/

body {
    margin: 0;
    font-family: Roboto, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-x: hidden;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 0 auto;
    width: 100vw;
    min-height: 100vh;

    background-color: #282a36;
    color: #f8f8f2;
}

.wrapper_content {
    min-height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*=====HEADER========*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;

    flex-wrap: wrap;

    width: 100vw;
    min-height: 10vh;


}

.btn {
    margin: 1vh 2vw;

}

.btn button {
    width: 256px;
    height: 64px;
    color: #f8f8f2;
    background: none;
    -webkit-appearance: none;
    appearance: none;
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    border: none;

    margin: 0;
    padding: 0;

    transition: 0.2s ease-in-out;
}

.btn button:hover {
    border-bottom: 4px solid #f8f8f2;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    /* Adaptive header links */
    .header .btn button {
        width: 128px;
        height: 32px;
        font-size: 24px;
    }
}

/*=====FOOTER========*/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #373F47;
    color: #C3C9E9;

    height: 5vh;
    width: 100vw;
}


.footer .links a {
    padding: 0px 10px;
    text-decoration: none;
    color: #C3C9E9;
}

.footer .links a:hover {
    color: #6C91C2;
}

.footer p {
    font-size: 12px;
}


/*=====CARDS WRAPPER========*/

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 372px);

    max-width: 70vw;
}

/*=======INPUT FORM========*/

.input_form {
    width: 360px;
    background-color: #f8f8f2;
    border: 5px solid #ff5555;
    min-height: 400px;
    padding: 32px 32px;
    border-radius: 10px;

    margin: 32px 0;

}

.input_form h1 {
    text-align: center;
    margin-bottom: 60px;
    color: #373F47;
    font-size: 32px;
}

.input_text {
    border-bottom: 2px solid #373F47;
    position: relative;
    margin: 30px 0;
}

.input_text input,
.input_text input:invalid {
    font-size: 15px;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
    box-shadow: none;
}

.placeholder {
    font-size: 15px;
    opacity: .5;
    color: #282a36;
    position: absolute;
    left: 0;
    top: 25%;
    transition: 0.45s ease-in-out;
    pointer-events: none;
}

.placeholder_focus {
    font-size: 15px;
    color: #282a36;
    position: absolute;
    left: 0;
    top: 25%;
    transition: 0.45s ease-in-out;
    opacity: 1;
    transform: translateY(-100%);
    pointer-events: none;
}

.input_form .btn {
    display: flex;
    justify-content: center;
}

.input_form .btn button {
    color: #282a36;
    border: 4px solid #282a36;
    transition: 0.25s ease-in-out;
    text-transform: uppercase;
}

.input_form .btn button:hover {
    border: none;
    background-color: #282a36;
    color: #f8f8f2;
    cursor: pointer;
}

.bottom_text {
    margin-top: 48px;
    text-align: center;
    font-size: 16px;
    color: #282a36;
}

.bottom_text a {
    text-decoration: none;
    outline: none;
    color: #373F47;
    font-weight: bold;
}

.bottom_text a:hover {
    color: #6272a4;
}

/*===========RADIO BUTTONS============+*/
.input_select {
    color: #373F47;
    font-size: 24px;
    font-weight: 600;
}

.input_select p {
    text-align: center;
}

.input_radio {
    color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 16px;
}

.input_radio input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 16px;
    height: 16px;
    border-radius: 50%;

    transition: 0.2s linear;
    border: 3px solid #282a36;
    background-color: #f8f8f2;
}


.input_radio input[type="radio"]:hover {
    background: rgba(40, 42, 54, 0.75);
    border: none;
    cursor: pointer;
}


.input_radio input[type="radio"]:checked {
    background-color: #282a36;
    border: none;
}

.options label {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}


/*===========INFO CARD============+*/

.info_card {
    margin: 12px 24px 12px;

    background-color: #f8f8f2;
    border-radius: 5px;

    max-height: 496px;
    max-width: 324px;


    flex-basis: 324px;
    flex-grow: 1;
    /*flex-shrink: 1;*/


    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.55);
}

@media screen and (max-width: 981px) {
    .content {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        flex-shrink: 1;
        max-width: 70vw;
    }

}

.info_card h1 {
    margin: 25px 0;
    color: #282a36;
    text-transform: uppercase;
}

.info_card_content {
    min-height: 256px;
    background-color: #282a36;
    padding: 25px;

}

.info_card .btn {
    margin-top: auto;
}

.info_card .btn button {
    color: #282a36;
}

.info_card .btn button:hover {
    color: #f8f8f2;
    border: none;
    background-color: #282a36;
}

/*===========USER PROFILE=============*/

.user_profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #f8f8f2;
    width: 70vw;
    max-width: 1024px;
    margin: 20px;
    min-height: 512px;

    border-radius: 5px;

}

.left_block h1, .left_block h2, .left_block p {
    color: #282a36;
}

.left_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    border-radius: inherit;
    margin: 0;

    background-color: #ff5555;

    max-height: 100%;
    width: 25%;

    transition: 0.3s ease-in-out all;
}

.left_block .user_data .btn {
    margin: 0;
    width: 100%;
}

.left_block .user_data .btn button {
    width: 192px;
    height: 48px;
    font-size: 16px;
    color: #282a36;
    border: 4px solid #282a36;
    transition: 0.25s ease-in-out;
    text-transform: uppercase;
}

.left_block .user_data .btn button:hover {
    border: none;
    background-color: #282a36;
    color: #f8f8f2;
    cursor: pointer;
}

.user_data {
    text-align: center;
    background-color: #f8f8f2;
    width: 90%;
    height: 95%;
    margin: 5%;
    border-radius: 5px;
}

.right_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.change_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.change_form h1 {
    color: #282a36;
}

.change_form .btn button {
    color: #282a36;
    border: 4px solid #282a36;
    transition: 0.25s ease-in-out;
    text-transform: uppercase;
}

.change_form .btn button:hover {
    border: none;
    background-color: #282a36;
    color: #f8f8f2;
    cursor: pointer;
}

.change_form .input_text {
    width: 80%;
    margin: 15px;
}

@media screen and (max-width: 1350px) {
    /* width < 1363px => */
    .user_profile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left_block {
        width: 100%;
        height: 304px;
        margin: 0;
    }

    .user_data {
        width: 95%;
        height: 95%;
        margin: 2.5%;
    }

}

/*===========PASSWORD CARDS=============*/

.passwords_container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/

    display: grid;
    grid-template-columns: repeat(auto-fill, 388px);


    max-width: 70vw;


    min-height: 70vh;
}

@media screen and (max-width: 981px) {
    .passwords_container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-shrink: 1;
        max-width: 70vw;
    }

}

.password_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    text-align: center;

    background-color: #f8f8f2;

    border-radius: 15px;

    width: 372px;
    height: 128px;

    margin: 16px;

}

.password_field, .password_card h1 {
    margin: 15px;
    color: #373F47;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.password_field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

}

.password_field input {
    margin: 0 10px 0;
    width: calc(100% - 72px - 30px);
    border: none;
    background: none;
    border-radius: 15px;
    padding: 5px;
    box-shadow: inset 0 1px 2px 0 #282a36,
    inset 0 -1px 2px 0 #282a36;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.password_field button {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    color: #373F47;
    margin: 5px;
    padding: 0;

    border-radius: 50%;
    box-shadow: inset 0 1px 2px 0 #282a36,
    inset 0 -1px 2px 0 #282a36;
}

.password_field button:hover{
    cursor: pointer;
    color: #ff5555;
}

.copied_hidden {
    position: absolute;
    opacity: 0;
    transition: 0.5s ease-in-out all;
}

.copied_visible, .copied_hidden {
    visibility: visible;
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 85, 85,0.25);
    transition: 0.5s ease-in-out all;
    pointer-events: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

.copied_hidden {
    opacity: 0;
}

.copied_visible h1, .copied_hidden h1{
    color: #f8f8f2;
    pointer-events: none
}

